* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(0, 0, 0, 0.35);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
  border-radius: 2em;
}

form * {
  width: 100%;
}

input {
  padding: 1em;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.45);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

p {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 300;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.75em 2em;
  background: rgba(0, 0, 0, 0.45);
  color: rgba(255, 255, 255, 0.75);
  outline: none;
  border: none;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 800;
}

h3 {
  background-color: #77dd77;
  color: #4f7942;
  padding: 1em;
  font-size: 1em;
  line-height: 1.6;
}

.errors {
  border: none;
  outline: 1px solid rgba(255, 0, 0, 0.7);
  box-shadow: none;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
  font-size: 3rem;
  font-weight: bold;
}
